# Terraform-managed files
*.tfstate
*.tfstate.backup
.terraform
terraform.tfstate.d

# Python local files
__pycache__

# Private content
.env
.private
*.tfvars

# tardigrade-ci
.tardigrade-ci
tardigrade-ci/

# eclint
.git/

# terratest packaging
tests/go.*
