# Terraform-managed files
*.tfstate
*.tfstate.backup
.terraform
terraform.tfstate.d

# Python local files
__pycache__

# tardigrade-ci
.tardigrade-ci
tardigrade-ci/

# terraform lock file
.terraform.lock.hcl
