name: Create GitHub Release

on:
  # Run on demand
  workflow_dispatch:

  # Run on push to main when .bumpversion.cfg version is updated
  push:
    branches:
      - main
      - master
    paths:
      - .bumpversion.cfg

jobs:
  release:
    uses: plus3it/actions-workflows/.github/workflows/release.yml@86222127307c7f827e141bbc35cf0efb0e611648
    with:
      mockstacktest-enable: false
    secrets:
      release-token: ${{ secrets.GH_RELEASES_TOKEN }}
